<div class="wrapper" [style]="getStyle()">
    <div class="fridge">
        <div class="back-wall"></div>
        <div class="shelf one">
            <div class="box"></div>
            <div class="tray"></div>
        </div>
        <div class="shelf two">
            <div class="green-bowl"></div>
            <div class="cake">
                <div class="stripe"></div>
                <div class="stripe"></div>
            </div>
        </div>
        <div class="shelf three">
            <div class="watermelon">
                <div class="seed"></div>
                <div class="seed"></div>
                <div class="seed"></div>
                <div class="seed"></div>
                <div class="seed"></div>
                <div class="seed"></div>
                <div class="seed"></div>
            </div>
            <div class="potato"></div>
            <div class="potato"></div>
            <div class="potato"></div>
            <div class="potato"></div>
            <div class="potato"></div>
            <div class="potato"></div>
        </div>
        <div class="door">
            <div class="handle"></div>
        </div>
    </div>
</div>
